<!DOCTYPE html>
<html>
<head>
  <title>Event Website</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  {{> header}}

  {{{body}}}

  {{> footer}}
  <script src="/js/main.js"></script>
</body>
</html>